<!doctype html>
<html lang="en">
  <head>
    <!-- CSS -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
    <link href="https://s3.amazonaws.com/codecademy-content/projects/bootstrap.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:500,300,700,400" rel='stylesheet' type='text/css'>
    <link href="/css/main.css" rel="stylesheet" />

    <!-- Include the AngularJS library -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.0/angular-route.min.js"></script>
    <script src="//code.angularjs.org/1.3.5/angular-route.js"></script>
    <!-- for dropdown buttons JQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

    <!-- Local scripts -->
    <script src="/js/app.js"></script>
  </head>

  <body ng-app="ChicApp">
    <div class="header">
      <div class="container">
        <!-- FROM http://getbootstrap.com/components/#panels --> 
        <nav class="navbar navbar-default navbar-fixed-top">
          <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/home">Chic</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav">
                <li><a href="/aboutus">about us</a></li>
                <li class="dropdown">
                  <a href="/services" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">services<span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="/account"></a></li>
                    <li><a href="#">prices</a></li>
                    <li class="divider"></li>
                    <li><a href="#">information</a></li>
                    <li class="divider"></li>
                    <li><a href="#">testimonials</a></li>
                  </ul>
                </li>
              </ul>

              <ul class="nav navbar-nav navbar-right">
                <li data-toggle="modal" data-target="#AppoinmentRequest"><a href="/">appointment request</a></li>
                <li><a href="/signup">signup</a></li>
                <li class="dropdown">
                  <a href="/import" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Import Genome<span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="https://api.23andme.com/authorize/?redirect_uri=http://gen-app-1982.herokuapp.com/api/receive_code/&response_type=code&client_id=e1c168d2cbd3383adeab1705880617b0&scope=genomes">23andMe</a></li>
                    <li><a href="/under_construction">FamilyTree</a></li>
                    <li><a href="/under_construction">MyHeritage</a></li>
                    <li class="divider"></li>
                    <li><a href="/import">Manual Upload</a></li>
                  </ul>
                </li>
              </ul>
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
        </nav>
      </div>
    </div>
    <!-- END OF HEADER -->


    <!-- LOGIN MODAL (to move to own .html file) --> 
    <div class ="container top-space">
      <div class="row">

        <div class="col-md-12">
          <!-- Modal -->
          <div class="modal fade" id="AppointmentRequest" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title" id="myModalLabel">Login Status</h4>
                </div>
                <div class="modal-body">
              <!-- LOGIN FORM + SUBMIT BUTTON -->
                  <form class="navbar-form" role="login" ng-controller="LoginController">
                    <div class="form-group">
                      <input type="username" class="form-control" placeholder="username (your email)" id="emailVal" ng-model="email">
                      <input type="password" class="form-control" placeholder="password" id="passwordVal" ng-model="password">
                    </div>
                    <button type="submit" class="btn btn-default" ng-click="request_loginUser()" data-toggle="modal" data-target="#logStat">
                      login
                    </button>
  <!--                 (This caused issues)  <button type="submit" class="btn btn-default" ng-click="request_loginUser()">login</button>
   -->            </form>
              <!-- END OF LOGIN FORM + SUBMIT BUTTON -->
                </div>
                <div class="modal-footer">
                  <div class="alert alert-success" id="login-success-alert" role="alert">Successful login</div>
                  
                  <div class="alert alert-danger" id="login-error-alert" role="alert">Unsuccessful login. Please enter the correct username and password.</div>
                </div>
              </div> <!-- modal-content -->
            </div> <!-- modal-dialog -->
          </div> <!-- modal fade -->
          <!-- End Modal/ -->

        </div> <!-- col-md-12 -->
      </div>
    </div>
    <!-- END OF LOGIN MODAL (to move to own .html file) --> 


    <div class="main">
      <div class="container">
        <!-- .main h2 -->
        <div class="jumbotron">
        <p style="text-align: center">Genie will give you information on <b>your</b> brain-behavior genetics. Start by <a href="/signup">signing up</a> and <a href="/import">importing</a> your genetic data from 23andMe or uploading manually.
          <br>
          <small>To see how it works, log in using 'demo' as both username and password.<br><br>
          <a href="/facts" class="btn btn-primary btn-lg" role="button">Learn more</a></small></p>
        </div>
      </div>
    </div>

  
  <div class="footer">
    <div class="footer-text">
    &copy; 2015. Created by <a href="http://teyden.com" class="teal-text" target="_blank">teydenguyen</a>
    </div>
  </div>
  </body>
</html>
